.innergallery{
    width: 100%;
    border: 1px solid var(--mainColor);

}

.image{
    width: 100%;
}

/*breakpoint*/
@media screen and (min-width: 576px){

    .imagesgallery {
        display: flex;
        max-width: 800px;
        margin: auto
    }
    .image {
        width: 50%;
    }

}

